# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio / VSCode
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# Env files (IMPORTANT)
.env
assets/.env

# Obfuscation / symbols
app.*.symbols
app.*.map.json