<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJWbHl3lumKBBYD40wa4On5AA6_AV6sl4</string>
	<key>GCM_SENDER_ID</key>
	<string>40087704428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNthuLife</string>
	<key>PROJECT_ID</key>
	<string>nthyou-eee75</string>
	<key>STORAGE_BUCKET</key>
	<string>nthyou-eee75.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40087704428:ios:0e2e1bcecfd585e8881949</string>
</dict>
</plist>